@font-face {
  font-family: "RF Dewi Extended";
  src: url("../fonts/RFDewiExtended-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Extended";
  src: url("../fonts/RFDewiExtended-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Extended";
  src: url("../fonts/RFDewiExtended-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi Extended";
  src: url("../fonts/RFDewi-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
